@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif  !important;
}

#container-principal {
    width: 100%;
    min-height: 100vh;
}

#ossos-de-napier {
    display: table;
    width: 100%;
    max-width: 800px;
    border: 2px solid gray;
    border-collapse: collapse;
}


#cabecalho-ferramenta {
    display : table-header-group;
}

.celula:not(.cruzada) {
    background-color: #00008B;
    color: #FFFFFF;
    font-weight: 700;
}

#corpo-ferramenta {
    display: table-row-group;
}

.linha {
    display : table-row;
}

.celula {
    display :  table-cell;
    padding: 20px;
    text-align: center;
    border: 2px solid gray;
    border-collapse: collapse;
    position: relative;
    overflow: hidden;
    transition: 1s;
    max-width: 38.40px !important;
    max-height: 21.60px !important;
}

/*.cruzada:hover::after { 
    background-color: blue;
}*/

.cruzada::after { 
    content: '';
    position: absolute;
    padding-bottom: 133%;
    left: 25%;
    width: 112%;
    transition: all 1s;
    transform: rotate(52deg);
    top: 14px;
    border-left: 2px solid gray;
    background-color: azure;
} 

.cruzada::before { 
    content: '';
    position: absolute;
    padding-bottom: 135%;
    left: -35%;
    width: 111%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(52deg);
    top: -60px;
} 
  

.algarismo-superior {
    position: absolute;
    z-index: 99;
    left: 20%;
    top: 7px;
}

.algarismo-inferior {
    position: absolute;
    z-index: 99;
    right: 20%;
    bottom: 10px;
}

.celula.selecionado {
    background-color: #29AB87;
} 

.subido {
    position: relative;
    animation: subindo 1.5s ease-in-out;
    top: -1000px;
    display: none;
}

@keyframes subindo {
    from {
      top: 0;
      display: table-cell;
    }
  
    to {
      top: -1000px;
      display: none;
    }
}

.descido {
    position: relative;
    animation: descendo 1.5s ease-in-out;
    top: 0;
    display: table-cell;
}

@keyframes descendo {
    from {
      top: -1000px;
      display: none;
    }
  
    to {
      top: 0;
      display: table-cell;
    }
  }

.destacar-algarismo-inferior::after {
    animation: destaque 2s ease-in-out;
}

.destacar-algarismo-superior::before {
    animation: destaque 2s ease-in-out;
}

.destacar-algarismo-superior .algarismo-superior,  .destacar-algarismo-inferior .algarismo-inferior {
    color: #000000;
}

@keyframes destaque {
    from {
      background-color: #FFFFFF;
    }
  
    to {
      background-color: #29AB87;
    }
  }

#quadro-conta {
    position: absolute;
    right: 100px;
    top: 100px;;
}

#quadro-conta div {
    display: block;
    min-width: 200px;
    text-align: right;
}
